# =========================================================
# PYTHON
# =========================================================

__pycache__/
*.py[cod]
*$py.class

# =========================================================
# ENTORNOS VIRTUALES
# =========================================================

venv/
.venv/
env/
ENV/

venv_financial_ocr/

# =========================================================
# VSCODE
# =========================================================

.vscode/settings.json
.vscode/.ropeproject

# =========================================================
# JUPYTER
# =========================================================

.ipynb_checkpoints/

# =========================================================
# LOGS
# =========================================================

*.log

# =========================================================
# SISTEMA
# =========================================================

.DS_Store
Thumbs.db

# =========================================================
# ARCHIVOS TEMPORALES
# =========================================================

*.tmp
*.temp
*.bak
*.swp

# =========================================================
# OCR / OUTPUTS PESADOS
# =========================================================

outputs/
benchmark/
preprocess/

# =========================================================
# MODELOS OCR / IA
# =========================================================

.paddleocr/
models/
checkpoints/

# =========================================================
# DATOS PESADOS
# =========================================================

*.parquet
*.feather
*.pickle
*.pkl

# =========================================================
# EXCEL / CSV GENERADOS
# =========================================================

outputs/**/*.csv
outputs/**/*.xlsx

# =========================================================
# ENV
# =========================================================

.env
.env.*

# =========================================================
# BINARIOS COMPILADOS
# =========================================================

*.so
*.dll
*.dylib

# =========================================================
# SITE PACKAGES
# =========================================================

site-packages/

# BUILD
build/
dist/
*.spec

# BINARIOS
*.so
*.dll
*.dylib

# SITE PACKAGES
site-packages/

# PYENV
.python-version