anyio==4.13.0
astor==0.8.1
beautifulsoup4==4.14.3
certifi==2026.4.22
charset-normalizer==3.4.7
contourpy==1.3.2
cycler==0.12.1
Cython==3.2.4
decorator==5.2.1
et_xmlfile==2.0.0
exceptiongroup==1.3.1
fonttools==4.62.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.14
ImageIO==2.37.3
imgaug==0.4.0
kiwisolver==1.5.0
lazy-loader==0.5
lmdb==1.4.1
lxml==6.1.0
matplotlib==3.10.9
networkx==3.4.2
numpy==1.26.4
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
openpyxl==3.1.5
opt-einsum==3.3.0
packaging==26.2
paddleocr==2.7.0.3
paddlepaddle==2.6.2
pandas==2.3.3
pillow==12.2.0
protobuf==7.34.1
pyclipper==1.3.0.post6
pyparsing==3.3.2
python-dateutil==2.9.0.post0
pytz==2026.2
PyYAML==6.0.3
requests==2.32.3
scikit-image==0.22.0
scipy==1.15.3
shapely==2.0.6
six==1.17.0
soupsieve==2.8.3
tifffile==2025.5.10
tqdm==4.67.3
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0
